

{%- doc -%}
  This block is used to display the add to cart button.
  Intended for product-form.liquid block.

  @param {string} can_add_to_cart - Whether the product can be added to the cart
  @param {string} add_to_cart_text - The text of the add to cart button
{%- enddoc -%}

{% liquid
  assign class = 'add-to-cart-button ' | append: block.settings.style_class
  assign id = 'BuyButtons-ProductSubmitButton-' | append: block.id
%}

<span class="desktop-normal"
  {{ block.shopify_attributes }}
  style="--add-to-cart-font-case: {{ settings.button_text_case }};"
>
  {% render 'add-to-cart-button',
    id: id,
    class: class,
    can_add_to_cart: can_add_to_cart,
    product: closest.product,
    add_to_cart_text: add_to_cart_text
  %}
</span>

<span
  class="mobile-sticky"
  {{ block.shopify_attributes }}
  style="--add-to-cart-font-case: {{ settings.button_text_case }};"
>
  {% render 'add-to-cart-button',
    id: id,
    class: class,
    can_add_to_cart: can_add_to_cart,
    product: closest.product,
    add_to_cart_text: add_to_cart_text
  %}
</span>
<style>
  /* Default hidden */
.mobile-sticky {
  display: none;
}

/* Mobile only */
@media (max-width: 768px) {
  .mobile-sticky {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    padding: 12px;
    box-shadow: 0 -4px 10px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  /* hidden state */
  .mobile-sticky.is-hidden {
    transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
  }
}

/* Desktop */
@media (min-width: 769px) {
  .mobile-sticky {
    display: none !important;
  }
}

  </style>
{% schema %}
{
  "name": "t:names.add_to_cart",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "style_class",
      "label": "t:settings.style",
      "options": [
        {
          "value": "button",
          "label": "t:options.primary"
        },
        {
          "value": "button-secondary",
          "label": "t:options.secondary"
        }
      ],
      "default": "button-secondary"
    }
  ]
}
{% endschema %}
